In [1]:
import gdown
gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /Users/sebokoh/ns_book6.csv
100%|██████████████████████████████████████████████████████████| 55.0M/55.0M [00:17<00:00, 3.15MB/s]

'ns_book6.csv'

In [5]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [6]:
ns_book6.describe()

               번호        발행년도        도서권수        대출건수
count  379976.000  379976.000  379976.000  379976.000
mean   201726.333    2008.516       1.136      11.505
std    115836.455       8.781       0.483      19.242
min         1.000    1947.000       0.000       0.000
25%    102202.750    2003.000       1.000       2.000
50%    203179.500    2009.000       1.000       6.000
75%    301630.250    2015.000       1.000      14.000
max    401681.000    2650.000      40.000    1765.000

In [7]:
sum(ns_book6['도서권수']==0)

3206

In [8]:
ns_book7 = ns_book6[ns_book6['도서권수']>0]

In [9]:
ns_book7.describe(percentiles=[0.3, 0.6, 0.9])

               번호        발행년도        도서권수        대출건수
count  376770.000  376770.000  376770.000  376770.000
mean   202977.477    2008.460       1.146      11.593
std    115298.246       8.773       0.474      19.279
min         1.000    1947.000       1.000       0.000
30%    124649.700    2004.000       1.000       2.000
50%    204550.500    2009.000       1.000       6.000
60%    243537.400    2011.000       1.000       8.000
90%    361341.100    2018.000       2.000      28.000
max    401681.000    2650.000      40.000    1765.000

In [10]:
ns_book7.describe(include='object')

           도서명             저자     출판사           ISBN        세트 ISBN    부가기호      권  주제분류번호        등록일자
count   376770         376770  376770         376770          55866  308252  61793  359792      376770
unique  336408         248850   21875         350810          14875      17    834   12467        4562
top      승정원일기  세종대왕기념사업회 [편]    문학동네  9788937430299  9788937460005       0      1   813.6  1970-01-01
freq       250            303    4410            206            702  158235  13282   14816       28185

In [12]:
x = [10, 20, 30]
sum = 0
for i in range(3):
    sum += x[i]
print("평균:", sum / len(x) )

평균: 20.0

In [13]:
ns_book7['대출건수'].mean()

np.float64(11.593438968070707)

In [14]:
ns_book7['대출건수'].median()

np.float64(6.0)

In [15]:
temp_df = pd.DataFrame([1, 2, 3, 4])
temp_df.median()

0    2.5
dtype: float64

In [16]:
ns_book7['대출건수'].drop_duplicates().median()

np.float64(183.0)

In [17]:
ns_book7['대출건수'].min()

np.int64(0)

In [19]:
ns_book7['대출건수'].max()

np.int64(1765)

In [20]:
ns_book7['대출건수'].quantile(0.25)

np.float64(2.0)

In [22]:
ns_book7['대출건수'].quantile([0.25, 0.5, 0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [23]:
pd.Series([1,2,3,4,5]).quantile(0.9)

np.float64(4.6)

In [25]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='midpoint')

np.float64(4.5)

In [26]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='nearest')

np.int64(5)

In [27]:
borrow_10_flag = ns_book7['대출건수'] < 10

In [28]:
borrow_10_flag.mean()

np.float64(0.6402712530190833)

In [29]:
ns_book7['대출건수'].quantile(0.65)

np.float64(10.0)

In [30]:
ns_book7['대출건수'].var()

np.float64(371.69563042906685)

In [31]:
ns_book7['대출건수'].std()

np.float64(19.27940949378551)

In [32]:
import numpy as np
diff = ns_book7['대출건수'] - ns_book7['대출건수'].mean()
np.sqrt(np.sum(diff**2)/(len(ns_book7)-1))

np.float64(19.27940949378551)

In [33]:
ns_book7['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

In [34]:
ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

In [35]:
ns_book7.mean(numeric_only=True)

번호      202977.477
발행년도      2008.460
도서권수         1.146
대출건수        11.593
dtype: float64

In [36]:
ns_book7.loc[:, '도서명':].mode()

     도서명             저자   출판사    발행년도           ISBN        세트 ISBN 부가기호  권 주제분류번호  도서권수  대출건수        등록일자
0  승정원일기  세종대왕기념사업회 [편]  문학동네  2012.0  9788937430299  9788937460005    0  1  813.6     1     0  1970-01-01

In [37]:
ns_book7.to_csv('ns_book7.csv', index=False)

In [9]:
import numpy as np
np.mean(ns_book7['대출건수'])

np.float64(11.593438968070707)