1. 데이터 불러오기 / 저장하기

In [5]:
import pandas as pd

In [6]:
!pip install pandas

Requirement already satisfied: pandas in /opt/miniconda3/lib/python3.13/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd
data = pd.read_csv('~/Downloads/portfolio.csv')

In [9]:
data.head()

,Unnamed: 0,reward,channels,difficulty,duration,offer_type,id
0,0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [10]:
data.tail()

,Unnamed: 0,reward,channels,difficulty,duration,offer_type,id
5,5,3,"['web', 'email', 'mobile', 'social']",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,6,2,"['web', 'email', 'mobile', 'social']",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,7,0,"['email', 'mobile', 'social']",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,8,5,"['web', 'email', 'mobile', 'social']",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,9,2,"['web', 'email', 'mobile']",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [12]:
data[['channels', 'duration']]

                               channels  duration
0         ['email', 'mobile', 'social']         7
1  ['web', 'email', 'mobile', 'social']         5
2            ['web', 'email', 'mobile']         4
3            ['web', 'email', 'mobile']         7
4                      ['web', 'email']        10
5  ['web', 'email', 'mobile', 'social']         7
6  ['web', 'email', 'mobile', 'social']        10
7         ['email', 'mobile', 'social']         3
8  ['web', 'email', 'mobile', 'social']         5
9            ['web', 'email', 'mobile']         7

In [13]:
data[:7]

,Unnamed: 0,reward,channels,difficulty,duration,offer_type,id
0,0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,5,3,"['web', 'email', 'mobile', 'social']",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,6,2,"['web', 'email', 'mobile', 'social']",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4

In [16]:
data[-2:][['channels', 'duration']]

                               channels  duration
8  ['web', 'email', 'mobile', 'social']         5
9            ['web', 'email', 'mobile']         7

In [18]:
data.shape

(10, 7)

In [19]:
len(data)

10

In [20]:
data.info

<bound method DataFrame.info of    Unnamed: 0  reward                              channels  difficulty  duration     offer_type  \
0           0      10         ['email', 'mobile', 'social']          10         7           bogo
1           1      10  ['web', 'email', 'mobile', 'social']          10         5           bogo
2           2       0            ['web', 'email', 'mobile']           0         4  informational
3           3       5            ['web', 'email', 'mobile']           5         7           bogo
4           4       5                      ['web', 'email']          20        10       discount
5           5       3  ['web', 'email', 'mobile', 'social']           7         7       discount
6           6       2  ['web', 'email', 'mobile', 'social']          10        10       discount
7           7       0         ['email', 'mobile', 'social']           0         3  informational
8           8       5  ['web', 'email', 'mobile', 'social']           5         5           bogo
9           9       2            ['web', 'email', 'mobile']          10         7       discount

                                 id
0  ae264e3637204a6fb9bb56bc8210ddfd
1  4d5c57ea9a6940dd891ad53e9dbe8da0
2  3f207df678b143eea3cee63160fa8bed
3  9b98b8c7a33c4b65b9aebfe6a799e6d9
4  0b1e1539f2cc45b7b9fa7c272da2e1d7
5  2298d6c36e964ae4a3e7e9706d1fb8c2
6  fafdcd668e3743c1bb461111dcafc2a4
7  5a8bc65990b245e5a138643cd4eb9837
8  f19421c1d4aa40978ebb69ca19b0e20d
9  2906b810c7d4411798c6938adc9daaa5  >

In [21]:
data

,Unnamed: 0,reward,channels,difficulty,duration,offer_type,id
0,0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,5,3,"['web', 'email', 'mobile', 'social']",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,6,2,"['web', 'email', 'mobile', 'social']",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,7,0,"['email', 'mobile', 'social']",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,8,5,"['web', 'email', 'mobile', 'social']",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,9,2,"['web', 'email', 'mobile']",10,7,discount,2906b810c7d4411798c6938adc9daaa5