In [5]:
import pandas as pd
df = pd.read_csv('/Users/sebokoh/Downloads/orders.csv')

In [6]:
df.shape

(1000, 7)

In [7]:
df.columns

Index(['order_id', 'user_id', 'product_id', 'order_date', 'quantity', 'price', 'payment_method'], dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [9]:
df.values

array([[1001, 543, 'P158', ..., 4, 115634, '카카오페이'],
       [1002, 885, 'P138', ..., 2, 136936, '토스'],
       [1003, 609, 'P154', ..., 1, 104572, '카카오페이'],
       ...,
       [1998, 844, 'P165', ..., 4, 90382, '신용카드'],
       [1999, 777, 'P114', ..., 3, 9011, '계좌이체'],
       [2000, 807, 'P195', ..., 2, 134716, '카카오페이']],
      shape=(1000, 7), dtype=object)

In [10]:
df.describe

<bound method NDFrame.describe of      order_id  user_id product_id  order_date  quantity   price payment_method
0        1001      543       P158  2024-02-08         4  115634          카카오페이
1        1002      885       P138  2024-03-10         2  136936             토스
2        1003      609       P154  2024-01-01         1  104572          카카오페이
3        1004      935       P140  2024-01-23         2  176294           계좌이체
4        1005      908       P138  2024-02-08         2  149738           계좌이체
..        ...      ...        ...         ...       ...     ...            ...
995      1996      541       P180  2024-01-02         3   16962           신용카드
996      1997      517       P187  2024-03-22         4   38302             토스
997      1998      844       P165  2024-01-17         4   90382           신용카드
998      1999      777       P114  2024-01-30         3    9011           계좌이체
999      2000      807       P195  2024-01-13         2  134716          카카오페이

[1000 rows x 7 columns]>

In [11]:
import pandas as pd

In [12]:
pd.read_csv('/Users/sebokoh/Desktop/ADP/pandas실습/Titanic-Dataset.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.283,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

In [16]:
# value에 list 활용
dict1 = {
    'col1' : [1, 2, 3, 4],
    'col2' : [10, 20, 30, 40],
    'col3' : [100, 200, 300, 400]   
}
dict1

{'col1': [1, 2, 3, 4], 'col2': [10, 20, 30, 40], 'col3': [100, 200, 300, 400]}

In [20]:
# 딕셔너리를 DataFrame으로 변환
import pandas as pd
df = pd.DataFrame(dict1)
type(df)

df

   col1  col2  col3
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [22]:
import seaborn as sns 
sns.load_dataset('titanic').describe()

       survived   pclass      age    sibsp    parch     fare
count   891.000  891.000  714.000  891.000  891.000  891.000
mean      0.384    2.309   29.699    0.523    0.382   32.204
std       0.487    0.836   14.526    1.103    0.806   49.693
min       0.000    1.000    0.420    0.000    0.000    0.000
25%       0.000    2.000   20.125    0.000    0.000    7.910
50%       0.000    3.000   28.000    0.000    0.000   14.454
75%       1.000    3.000   38.000    1.000    0.000   31.000
max       1.000    3.000   80.000    8.000    6.000  512.329

In [25]:
#다양한 columns 선택의 방법
import seaborn as sns 
df_iris = sns.load_dataset('iris')

URLError: <urlopen error [Errno 8] nodename nor servname provided, or not known>

In [12]:
import pandas as pd
#1. 데이터 불러오기
transcript = pd.read_csv("/Users/sebokoh/Downloads/transcript 3.csv")
profile = pd.read_csv("/Users/sebokoh/Downloads/profile.csv")

In [6]:
# 2. 거래 이벤트만 필터링
transactions = transcript[transcript['event'] == 'transaction']

In [13]:
#3. amount 컬럼 추출 
def safe_amount(v):
    if isinstance(v, dict):
        return v.get('amount', 0)
    return 0

transactions['amount'] = transactions['value'].apply(safe_amount)

In [9]:
#4. 데이터 확인
print(transactions.head())

       Unnamed: 0                            person        event                           value  time  amount
12654       12654  02c083884c7d45b39cc68e1314fec56c  transaction  {'amount': 0.8300000000000001}     0       0
12657       12657  9fa9ae8f57894cc9a3b8a9bbe0fc1b2f  transaction               {'amount': 34.56}     0       0
12659       12659  54890f68699049c2a04d415abc25e717  transaction               {'amount': 13.23}     0       0
12670       12670  b2f1cd155b864803ad8334cdf13c4bd2  transaction               {'amount': 19.51}     0       0
12671       12671  fe97aa22dd3e48c8b143116a8403dd52  transaction               {'amount': 18.97}     0       0

In [10]:
transactions.describe()

       Unnamed: 0        time    amount
count  138953.000  138953.000  138953.0
mean   160710.679     381.584       0.0
std     90463.543     201.697       0.0
min     12654.000       0.000       0.0
25%     85177.000     210.000       0.0
50%    150201.000     402.000       0.0
75%    239167.000     552.000       0.0
max    306533.000     714.000       0.0

In [16]:
#5. 결측치 확인
print(df.isnull().sum())

NameError: name 'df' is not defined

In [1]:
import socket
socket.gethostbyname("openapi.seoul.go.kr")

gaierror: [Errno 8] nodename nor servname provided, or not known

In [ ]:
url = f"http://openapi.seoul.go.kr:80/{“4e546d474a6f6d6f3132316651595841”}/json/bikeList/1/1000/"

SyntaxError: invalid character '“' (U+201C) (1723240194.py, line 1)